<h1 style="text-align: center; color:white"class="makeCenter">E-Health for Real Time Health Factors Tracking</h1>
<br>
<h2 style="text-align: center; color:white"class="makeCenter">(-EHRTHFT-)</h2>
<div class="parent">
<div class="child">
<%= render 'form' %>
</div>
<%#= link_to 'Back', users_path %>
</div>